{% extends "base.html" %}

{% block content %}
<h1 class="title">
Bytely
</h1>

<h2 class="subtitle">
URL statistics and shortening made easy.
</h2>

<!-- Link Form -->
<div class="container mt-5">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-sm-10 col-sm-offset-2">
      <form class="link-form" action="/links/create-anonymous-link" method="POST">
        <div class="input-group">
          <input class="form-control full-link-input" type="text" name="link" placeholder="Enter a link">
          <span class="input-group-btn">
            <button class="btn btn-primary full-link-btn" type="submit">Create</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Recent Anonymous Links -->
<div class="container text-center mt-3">
  <div class="card d-flex flex-row"
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <p class="card-text">https://www.youtube.com/watch?v=oFYyTZwMyAg</p>
        </div>
        <div class="col-sm-5">
          <p class="card-text">bytely.com/x6f</p>
        </div>
        <div class="col-sm-2">
          <a href="#">copy</a>
        </div>
      </div>
    </div>
  </div>
  </div>

{% endblock %}