:root {
    --linkform-border-color: rgb(184, 184, 184);
  }

.form-control{
    width: 100px;
    
    border-radius: 12px 0px 0px 12px;

    border-top-color: var(--linkform-border-color);
    border-bottom-color: var(--linkform-border-color);
    border-left-color: var(--linkform-border-color);
}

.full-link-btn{
    height: 50px;
    
    border-radius: 0px 12px 12px 0px;
    
    border-top-color: var(--linkform-border-color);
    border-bottom-color: var(--linkform-border-color);
    border-right-color: var(--linkform-border-color);
}

.container{
    width: 600px;
    height: 60px;
}
  
.card{
    padding: 10px;
    border-radius: 12px;
    width: 100%;
}